:root{
    --primary-color: #7e80f5;
    --dark-gray: #9fa8a3;
    --off-white: #f8f8ff;
}

body{
    font-family: 'montserrat',
    sans-serif;
    margin: 0px
}
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
} 

.navigation .your-post {
   font-weight: bold;
   font-size: 1.1rem;
}

.navigation .inline-elements .abc {
    text-align: right;
    display: inline;
    text-align: end;
    padding: 1rem;
}

.navigation .link {
    color:white ;
    text-decoration: none;

} 

.container .container-reversed .center-list {
    text-align: center;
}

.portfolio-pic {
    display: block;
    margin: auto;
}

.img-project{
    height: 200px;
    width: 300px;
}
.image-div{
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
} 

.footer .footer-heading {
   font-weight: bold;
   font-size: 1.1rem;
}

.footer .footer-list .xyz {
    text-align: right;
    display: inline;
    text-align: end;
    padding: 1rem;
}

.footer .link-f {
    color:white ;
    text-decoration: none;

}